Q1 ANS... A variable is a nameed storage location which is used to store data.
example is given below:-

In [ ]:
age=26 #age is a variable which stores the age
print(age)

26

Q2 ANS:-

In [ ]:
x=45
y=44.3
z="ABC"
print("Type of x = ",type(x))
print("Type of y = ",type(y))
print("Type of z = ",type(z))

Type of x =  <class 'int'>
Type of y =  <class 'float'>
Type of z =  <class 'str'>

Q3 ANS:-

In [ ]:
a=4
b=5
a,b=b,a
print("After swap value of a = ",a)
print("After swap value of b = ",b)

After swap value of a =  5
After swap value of b =  4

Q4 ANS....

In [ ]:
a=b=c=67
print("value of a = ",a)
print("value of b = ",b)
print("value of c = ",c)

value of a =  67
value of b =  67
value of c =  67

Q5 ANS....

In [ ]:
a,b,c=2,3,4
print("value of a = ",a)
print("value of b = ",b)
print("value of c = ",c)

value of a =  2
value of b =  3
value of c =  4

Q6 ANS..... "=" is used to store values whereas "=="is used to compare values.

In [ ]:
a=34 # here"="is used to store value in variable.
print("value of a = ",a)
b=34
if (a==b):                            # "==" is used to compare a and b
 print("a is equal to b")

value of a =  34
a is equal to b

Q7 ANS....

In [ ]:
length=int(input("Enter the value of length of rectangle = "))
breadth=int(input("Enter the value of breadth of rectangle = "))
print("Area of rectangle = ",length*breadth)

Enter the value of length of rectangle = 5
Enter the value of breadth of rectangle = 6
Area of rectangle =  30

Q8 ANS......

In [ ]:
a=float(input("enter the 1st number = "))
b=float(input("enter the 2nd number = "))
c=float(input("enter the 3rd number = "))
d=(a+b+c)/3
print("Average of 3 number is = ",d)

enter the 1st number = 4.5
enter the 2nd number = 6.8
enter the 3rd number = 9.8
Average of 3 number is =  7.033333333333334

Q9 ANS.......

In [ ]:
a=10
b=5
print("addition of a and b = ",a+b)
print("subtraction of a and b = ",a-b)
print("multiplication of a and b = ",a*b)
print("division of a and b = ",a/b)
print("modulus of a and b = ",a%b)
print("floor division of a and b = ",a//b)

addition of a and b =  15
subtraction of a and b =  5
multiplication of a and b =  50
division of a and b =  2.0
modulus of a and b =  0
floor division of a and b =  2

Q10 ANS.... constants are those values which do not change in the execution of program. The consants are assigned with the help of uppercase letters.

In [ ]:
LENGTH=40
breadth=50
print("area of rectangle = ",LENGTH*breadth)
breadth=20
length=10
print("area of rectangle = ",LENGTH*breadth) # value of breadth changes but value of length remais unchanged

area of rectangle =  2000
area of rectangle =  800

Q11 ANS... 1. Variable name cant start with a number.
2. Variable name can include underscores.
3. Variables name are case sensitive.
4. variable names cant be reserve words.

In [ ]:
ABC=18
x_y=45
print(x_y)
print(abc) # variables are case sensitive so error will occur
1mn=45 #error will occur
if=23 # error will occur as varaibles cant be reservewords.

SyntaxError: invalid decimal literal (ipython-input-2073070168.py, line 5)

Q12 ANS..... Local variable is assigened in afunction and can be accessed only inside he function whereas global variable are assigned outside the function and can be accssed outside the function.

In [ ]:
a=20 #global variable
def add():
  c=20 #local variable
  return a+c
add()
print("value of a = ",a) # value of a can be outside the function wheras the value of c cant be used outside the function

value of a =  20
value of c =  9.8

Q13 ANS..... Dynamic typing means the type is determined automatically at runtime.

In [ ]:
x= 45
print("type of x = ",type(x))

type of x =  <class 'int'>

Q14 ANS.....Type casting is a method in which we can covert the datatype of the variable from one to another.When we take the input it is saved as string by default so it is converted to integer be type casting method.

In [ ]:
x= input("Enter a number ") # input is taken as a string
print("now the type of input = ",type(x))
x=int(x)
print("After typecasting type of input = ",type(x))
x=float(x)
print("After convertng the integer to float,type = ",type(x))

Enter a number 78
now the type of input =  <class 'str'>
After typecasting type of input =  <class 'int'>
After convertng the integer to float,type =  <class 'float'>

Q15 ANS........

In [ ]:
P= int(input("Enter the intial amount of money = "))
R= int(input("Enter the rate of interest per annum = "))
T= int(input("Enter the time = "))
SI=(P*R*T)/100
print("simple interest = ",SI)

Enter the intial amount of money = 57
Enter the rate of interest per annum = 75
Enter the time = 6
simple interest =  256.5

Q16 ANS......

In [ ]:
name="nikita"
age=19
course="BTECH"
print(f"My name is {name}. I am {age} years old and my course is {course}")

My name is nikita. I am 19 years old and my course is BTECH

Q17 ANS.....

In [ ]:
a=4
b=5
print("Before swap values of a and b are:-",a,b)
temp=a
a=b
b=temp
print("After swap values of a and b are:-",a,b)

Before swap values of a and b are:- 4 5
After swap values of a and b are:- 5 4

Q18 ANS.... Mutable are those obejects which can be changed while immutable objects cant be changed.
Strings are immutable.

Q19 ANS......

In [ ]:
x=float(input("Enter the temperature in celsius = "))
y=(x*(9/5))+32
print("Temperature in fahrenheit = ",y)

Enter the temperature in celsius = 90.6
Temperature in fahrenheit =  195.07999999999998

Q20 ANS.....

In [ ]:
radius=float(input("Enter the value of radius = "))
pi=3.14
area=pi*radius*radius
circumference=2*pi*radius
print("Area of circle = ",area)
print("Circcumference of circle = ",circumference)

Enter the value of radius = 100
Area of circle =  31400.0
Circcumference of circle =  628.0

Q21 ANS.......

In [ ]:
color="orange"
fruit="orange"
result= "the color of "+ fruit+"is"+color
print(result)

the color of orangeisorange

Q22 ANS....If undefined variable is used then error occurs.

In [ ]:
print(x)

34

Q23 ANS...

In [ ]:
x=int(input("Enter the length if 1st side = "))
y=int(input("Enter the length if 2nd side = "))
z=int(input("Enter the length if 3rd side = "))
perimeter=x+y+z
print("Perimeter of triangle = ",perimeter)

Enter the length if 1st side = 34
Enter the length if 2nd side = 45
Enter the length if 3rd side = 67
Perimeter of triangle =  146

Q24 ANS..........

In [ ]:
a=float(input("Enter the marks of 1st subject = "))
b=float(input("Enter the marks of 2nd subject = "))
c=float(input("Enter the marks of 3rd subject = "))
d=float(input("Enter the marks of 4th subject = "))
e=float(input("Enter the marks of 5th6 subject = "))
total=a+b+c+d+e
percentage=(total/500)*100
print("Total marks = ",total)
print("Percentage = ",percentage)

Enter the marks of 1st subject = 45
Enter the marks of 2nd subject = 23
Enter the marks of 3rd subject = 45
Enter the marks of 4th subject = 78
Enter the marks of 5th subject = 34
Total marks =  225.0
Percentage =  45.0

Q25 ANS..... is operator is used to find either the address or id of two variables is same or not while"==" is used to find whether the two variables are ame or not.

In [ ]:
x=20
y=20
z=51
print("x is y = ",x is y)
print("x == y = ",x==y)
print("x is z = ",x is z)
print("x == z = ",x==z)

x is y =  True
x == y =  True
x is z =  False
x == z =  False

26 ANS......String is a combination of characters. String is defined within ' '," ",''' ''' quotes.

In [ ]:
a='orange'
b="apple"
c='''mango'''
print("Name of fruits = ",a,b,c)

Name of fruits =  orange apple mango

Q27 ANS....

In [ ]:
name=input("Enter your name = ")
print("Name in uppercase = ",name.upper())
print("Name in lowercase = ",name.lower())
print("Name in titlecase = ",name.title())

Enter your name = nikita
Name in uppercase =  NIKITA
Name in lowercase =  nikita
Name in titlecase =  Nikita

Q28 ANS.......

In [ ]:
x=input("Enter a string")
print("Length of string = ",len(x))

Enter a stringdfyhgtfdesd
Length of string =  11

Q29 ANS......

In [ ]:
greet="hiiiiii"
name=input("Enter your name = ")
print(greet + " "+ name)

Enter your name = nikita
hiiiiii nikita

Q30 ANS....

In [ ]:
string="Unisole Empower"
print("After extracting the first 5 characters of ",string," = ",string[:5])

After extracting the first 5 characters of  Unisole Empower  =  Uniso

Q31 ANS......

In [ ]:
string="DataScience"
print("After extracting the last characters of ",string," = ",string[-4:])

After extracting the last characters of  DataScience  =  ence

Q32 ANS......

In [ ]:
x=input("Enter a string = ")
print("reverse of string = ",x[::-1])

Enter a string = yellow
reverse of string =  wolley

Q33 ANS....

In [ ]:
x="Unisole Empower"
y="Empower"
if(y in x):
  print("Empower exist in Unisole Empower")
else:
  print("Empower doesnot exist in Unisole Empower.")

Empower exist in Unisole Empower

Q34 ANS.......

In [ ]:
x="I am learning python."
y= x.replace("python","Data Science")
print("After replacing = ",y)

After replacing =  I am learning Data Science.

Q35 ANS.....

In [ ]:
string="Hello World"
x=string.replace(" ","")
print(x)

HelloWorld

Q36 ANS....

In [ ]:
string="apple,bnana,mango"
l1=string.split()
print("List = ",l1)

List =  ['apple,bnana,mango']

Q37 ANS...

In [ ]:
L1=["AI","ML","DL"]
y="-".join(L1)
print(y)

AI-ML-DL

Q38 ANS.....

In [ ]:
x=input("Enter a string = ")
y="aeiouAEIOU"
count=0
for char in x:
  if char in y:
    count+=1
print("Number of vowels = ",count)

Enter a string = sadfdytgbmjkyutf
Number of vowels =  2

Q39 ANS.......

In [ ]:
x=input("Enter a string : ")
y=x[::-1]
if(x==y):
  print("It is a pallindrone")
else:
  print("It is not a pallindrine")

Enter a string : how
It is not a pallindrine

Q40 ANS.....

In [ ]:
x=input("Enter a string : ")
for char in x:
  print(char)

Enter a string : how
h
o
w

Q41 ANS......

In [ ]:
x="12345"
y=int(x)
z=234
print("Type of ",x," = ",type(x))
print("After converting into integer type = ",type(y))
print("z = ",z)
print("Sum of x and z = ",y+z)

Type of  12345  =  <class 'str'>
After converting into integer type =  <class 'int'>
z =  234
Sum of x and z =  12579

Q42 ANS.....

In [ ]:
string="Empower"
index=string.index("E")
print("Index of E = ",index)

Index of E =  0

Q43 ANS....

In [ ]:
string="DataScience"
print("After slicing = ",string[2:6])

After slicing =  taSc

Q44 ANS......Single quotes are used when there is a small string. Double quotes are used when string contain single quote.Triple quote is used when string contains both double and single quote.

In [ ]:
x='hi'
y=" I don't like mango."
z=''' He said,"I like mango".'''
print(x)
print(y)
print(z)

hi
 I don't like mango.
 He said,"I like mango".

Q45 ANS....

In [ ]:
name="ABC"
age=45
print("My name is {} and I am {} years old".format(name,age))

My name is ABC and I am 45 years old

Q46 ANS......

In [ ]:
x="banana"
y="a"
count=0
for char in x:
  if y in char:
    count+=1
print("Number of a in ",x,"= ",count)

Number of a in  banana =  3

Q47 ANS.......

In [ ]:
x=input("Enter a string : ")
y=x[:3]
z=x[-3:]
a="Uni"
b="wer"
if(y==a and z==b):
  print("The string starts with Uni and ends with wer")
else:
  print("The string does not starts with Uni and ends with wer")

Enter a string : Unisole empower
The string starts with Uni and ends with wer

Q48 ANS............String immutability means we cannot change the value of string  once it is not created

In [ ]:
a="hello"
b="hell"
print("Address of hello = ",id(a))
print("Address of hell = ",id(b))

Address of hello =  135394798290816
Address of hell =  135393859653904

Q49 ANS.....

In [ ]:
string="Unisole123Empower456"
integer="123456"
result=""
for char in string:
  if char not in integer:
    result=result+char

print(result)

UnisoleEmpower

Q50 ANS....

In [ ]:
x=input("Enter a string : ")
z="1234567890"
for i in x:
  if i in z:
    print("string contain numbers")
    break
  else:
    print("string contain only alphabets")
    break

Enter a string : weertg
string contain only alphabets

Q51 ANS...........

In [ ]:
x=input("Enter a string : ")
z="1234567890"
for i in x:
  if i in z:
    print("string contain numbers")
    break
  else:
    print("string contain only alphabets")
    break

Enter a string : 1234rf
string contain numbers

Q52 ANS............

In [ ]:
multiline_string='''This is a multiline string.
this is a multiline string.
this is a multiline string.'''
print(multiline_string)

This is a multiline string.
this is a multiline string.
this is a multiline string.

Q53 ANS..........

In [ ]:
string=input("Enter a string : ")
reverse_string=string[::-1]
print("Reverse string = ",reverse_string)

Enter a string : nikita
Reverse string =  atikin

Q54 ANS......The purpose of the raw string is to read backlash as a string.

In [ ]:
string="hello\nworld" #world is printed in new line
print(string)
raw_string=r"hello\nworld" #\n is treated as character
print(raw_string)

hello
world
hello\nworld

Q55 ANS......

In [ ]:
string=input("Enter a string : ")
print("String after capatilizing 1st leteer = ",string.title())

Enter a string : nikita
String after capatilizing 1st leteer =  Nikita

Q56 ANS.........

In [ ]:
import re
x=input("Enter a string = ")
valid = re.match(r'^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$', x)

print("Valid email address." if valid else "Invalid email address.")

Enter a string = adwqe@gmail.com
Valid email address.

Q57 ANS............

In [ ]:
url="https://www.google.com"
result=url.split(":")[0]
print("Result = ",result)

Result =  https

Q58 ANS...........

In [ ]:
string="hello  world"
frequency={}
for char in string:
  if char in frequency:
    frequency[char]+=1
  else:
    frequency[char]=1
print("frequency of each character = ",frequency)

frequency of each character =  {'h': 1, 'e': 1, 'l': 3, 'o': 2, ' ': 2, 'w': 1, 'r': 1, 'd': 1}

Q59 ANS..........

In [ ]:
str1=input("Enter a string : ")
str2=input("Enter 2nd string : ")
if sorted(str1)==sorted(str2):
  print("Strings are anagrams")
else:
  print("Strigs are not anagrams")

Enter a string : listen
Enter 2nd string : silent
Strings are anagrams

Q60 ANS..........

In [ ]:
text="namaste"
shift=3
result=""
for char in text:
  result=result+chr(ord(char)+shift)
print("encoded text = ",result)

encoded text =  qdpdvwh

Q61 ANS............

In [ ]:
text="qdpdvwh"
shift=3
result=""
for char in text:
  result=result+chr(ord(char)-shift)
print("decoded text = ",result)

decoded text =  namaste

Q62 ANS.......

In [ ]:
x=input("Enter string : ")
y=x.split()
unique_words=[]
for z in y:
  if y.count(z)==1:
    unique_words.append(z)
print("unique words in string are : ",unique_words )

Enter string : hello, nice to meet you to
unique words in string are :  ['hello,', 'nice', 'meet', 'you']

Q63 ANS.........

In [ ]:
text="nice to and meet you"
a=2
print("After remving and  from the string : ")
word=text.split()
del word[2]
text=" ".join(word)
print(text)

After remving and  from the string :
nice to meet you

Q64 ANS..........

In [ ]:
text="nice  meet you"
a=1
word="to"
words=text.split()
words.insert(a,word)
text=" ".join(words)
print("After adding  the string : ")
print(text)

After adding  the string :
nice to meet you